html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0px;
}
#map {
    float: left;
    height: 100%;
    width: 100%;
}
#map.leaflet-fullscreen {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 0;
      padding: 0;
      border: 0;
}
    
/**
 * there are no internal button styles; you must add your own like this:
 */
.leaflet-control-fullscreen {
   background-image: url(http://f.cl.ly/items/0W2V081o1h3p013P2v46/icon-fullscreen.png);
   margin-bottom: 5px;
}
    